body{background:#dddddd;}
.btn{cursor:hand;}
.menu{background:#eeeeee;padding:3px 10px;margin:3px;border-radius:3px;}
td{vertical-align:top;padding:3px;}
tbody tr:hover{background:#ffdddd;cursor:hand;}
.dataTable{font-size:10pt;background:#fff;}

.dataTable td{padding:2px 3px !important}
.dataTable tfoot{font-weight:bold;}
.dataTables_length,.dataTables_filter,.dataTables_info,.dataTables_paginate{width:50%;display:inline-block;}
.dataTables_length,.dataTables_info{}
.dataTables_filter,.dataTables_paginate{text-align:right;float:right;}
.paginate_button {margin:0 2px;}
input[type=search]{border:1px solid #aaa;}
.tgs{margin:1px;background:#cfc;border:1px solid #aaa;padding:0 3;font-size:8pt;}
.tgs:hover{background:#ccf;}
.form-group{margin:0;}
label{font-size:8pt;margin-top:5px;margin-bottom:0;}
span.label{margin-top:0px;padding:5px 15px;}
span.label input{position:relative;top:3px;}
.date{width:90px;text-align:center;}
.datetime{width:200px;}
.year{width:60px;text-align:center;}
thead tr{background:#444;color:#fff;}
thead td{text-transform:uppercase;font-weight:bold;font-size:8pt !important;color:#fff;}
.sum, .int, .inthead, .real, .views, .users , .no, .id, .EPs, .amount {text-align:right;}
.publish, .draft {text-align:center;}
tr.odd{background:#eeeeff;}
tr.even{}
canvas{background:#fff;}
.name_th{white-space:nowrap;}
.fa-check-circle{color:green;}
.rptcard{background:#fff;border:1px solid #aaa;border-radius:10px;text-align:center;display:inline-block;padding:5px 10px;margin:3px 5px;}
.rptno{font-size:32pt;color:#0a0;text-align:center;}
.rptno.downloads{color:#04c;}
.rptno.nusers{color:#c40;}
.rptno.ais{color:#adc32b;}
.media-file{background:#eef;margin:2px;}
.media-file a{color:#644;font-size:9pt;}

@media (orientation: landscape){
	.togglebars{display:none}
}
@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
  .rptcard{width:45%;font-size:0.8em}
  .rptno{font-size:24pt;font-weight:bold;}
  .togglebars{display:block}
  .menu{display:none;}
}